html, body { 
	margin: 0; 
	padding: 0; 
	font-family: sans-serif; 
	background: white; 
}

#header {
	background: purple;
	padding: 1em;
	color: white;
	font-size: 1.2em;
}

#converter {
	padding: 0 1em;
}

#nok {
	width: 100%;
	font-size: 2em;
}

#result {
	border-top: solid 1px gray;
	padding: 1em 0 0 0;
}
#result span {
	font-size: 3em;
}

#refresh {
	width: 3em;
	height: 3em;
	background: url('refresh@2x.png');
	display: inline-block;
	background-size: 1.5em 1.5em;
	background-repeat: no-repeat;
	float: right;
	margin-top: -1em;
	border-left: solid 1px white;
	margin-left: 3em;
	background-position: center;
	margin-right: -1em;
	border-left: solid 1px rgba(255, 255, 255, 0.4);
}

#refresh:active {
	background-color: rgba(255, 255, 255, 0.2);
}